body{
text-align: center;
background-color:linear-gradient(45deg, rgba(147,240,233,1) 24%, rgba(255,255,255,0.6337885495995272) 46%, rgba(254,252,7,1) 77%); ;    
}

.container{
text-align:center;
}



#myCarousel{
background-color: red;
}
#myCarousel img{
height:300px;
margin-top: 35px;    
}
.carousel-inner p{
margin-bottom: 15px; 
margin-top:15px;
color:white;
font-size:20px;    
}